.app-box {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    /* height: 80vh; */
    height: 80vh;
    border-bottom: 5px solid black;
    
  }