.manager-button{
    width: 185px;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manager-button>h1{
    font-size: 25px;
    color: black;
}

.manager-button:hover{
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}

.manager-button.disabled{
    background-color: lightgray;
    cursor:not-allowed;
}