.manager-view-display-frame{ 
    /* background-color: white;
    height: 80vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    position: absolute;
    right: 0; */
    height: 100%;
    width: 80vw;
    border-left: 5px solid black;
} 

.manager-view-display-frame h1{
    text-align: center;
}

.manager-view-display-frame h2{
    text-align: center;
}

.inventory-frame {
    display: flex;
}
.inventory-frame>.table-container {
    margin: auto;
}

.table-container {
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    /* top: 50%; */
    /* left: 50%; */
    max-height: 60vh;
    max-width: 80vw;
    width:fit-content;
    overflow-y: scroll;
    /* -webkit-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
    flex-direction: row;
}

.table-container table {
    width: 800px;
    height: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table-container th,
.table-container td {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}

.table-container th {
    text-align: left;
}

.table-container thead th {
    background-color: orange;
}

.table-container tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.table-container tbody td {
    position: relative;
    /* height: 20px; */
}

.table-container tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: -1;
}

button.inventory-button{
    height: 80px;
    width: 150px;
    align-items: center;
    justify-content: center;
}

.sales-container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    flex-direction: row;
}

.forms{
    margin-left: 20px;
    margin-right:20px;
    width: 170px !important;
}