/* need modification here */
.manager-frame {
  overflow: hidden;
  display: flex;
  height: 80vh;
  justify-content: space-between;
}

.manager-tabs-frame{
  height: 100%;
  overflow-y: scroll;
  width: fit-content; 
}