.tab-box {
    display: flex;
    height: 100%;
    flex-direction: column;
    color: rgba(240, 248, 255, 0.653);
}

.tabs {
    width: 150px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-color: #e7b449;
    border-bottom: 3px solid #d3a43e;
}

.tabs h2 {
    font-size: 1.5em;
}

.tabs:hover {
    cursor: pointer;
    background-color: #f8db9c;
}

.order-box {
    width: 60vw;
    background-color: white;
    float: left;
    height: 100%;
    overflow-y: scroll;
}

.gallery {
    padding: 5vmin;
}

.grid {
    inline-size: 40vw;
    margin-inline: auto;
    max-inline-size: 1440px;
  }
  
  .aspect-ratio {
    overflow: hidden;
    padding-block-start: 100%;
    position: relative;
  }
  
  .aspect-ratio > * {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .item-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 3em;
  }
  
  .item-box {
    box-shadow: 0.25em 0.25em 2em rgba(0, 0, 0, 0.25);
    border-radius: 0.5em;
    margin: 0;
    overflow: hidden;
  }
  
  .item-box-caption {
    background-color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 1.5em;
    text-align: center;
  }