.cart-frame {
    height: 100%;
    width: 30vw;
    background-color: white;
    margin-left: auto;
    border-left: 3px solid black;  
    overflow: hidden;
}

.cart-pizza-box-frame {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 40%;
}

.cart-order-list {
    overflow-y: scroll;
}