/* Navigation */
nav {
  height: 150px;
  background-color: #e7b449;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid black;
}

nav h1{
  font-size: 3.5em;
  color: black;
}

.left-nav {
  margin-left: 75px;
}

.login-btn {
  width: 150px;
  height: 65px;
  margin-right: 100px;
  border: none;
  background-color: white;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.login-btn:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}

/* Overall window */
.App {
  height: 100%;
}

body {
  background-color: #e7b449;
  margin: 0;
  /* height: 100%; */
}