nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 14.5vh;
    background-color: #e7b449;
    justify-content: space-around;
    border-bottom: .5vh solid black;
    padding-right: 5%;
}

nav>h1 {
    font-size: 3.5em;
    color: black;
    font-weight: bold;
    /* margin-left: 5%; */
}

nav>button {
    width: 150px;
    height: 65px;
    margin-right: 5%;
    background-color: white;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
}

nav>button:hover {
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}
